* {
  box-sizing: border-box;
  margin: 0;
}

.flag {
  background-color: #b5dccc;
  width: 32px;
  height: 32px;
  padding: 2px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flag .a {
  width: 64%;
  height: 16px;
  margin: 5px auto;
  display: block;
  border-radius: 4px;
}

body {
  background-color: #fff;
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #40196d;
}

.content {
  width: 81vw;
  margin: 20px auto 0;
}

#get {
  background-color: #40196d;
  color: #fff;
  font-weight: 500;
  padding: 14px 40px;
  text-align: center;
  font-size: 13px;
  border-radius: 9px;
  font-weight: inherit;
}

header {
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
  top: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 5px rgba(192, 192, 192, 0.247);
  padding: 15px 10px;
  height: 70px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
}
header .kuda-logo a {
  display: block;
  margin: 12px;
}
header .kuda-logo a img {
  width: 152px;
  height: 72px;
}
header .col2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
header .col2 .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 5px;
}
header .col2 .nav span {
  box-shadow: 0 1px 1px 1px rgba(218, 214, 214, 0.575);
  padding: 5px;
  margin: 0 10px;
  font-weight: 400;
  font-size: 10.5px;
}
header .col2 .nav .busy {
  margin: 0 6px;
  font-weight: 800;
}
header .col2 .nav .hon {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px;
}
header .col2 .nav .hon .pap {
  margin: 0 15px;
  font-weight: 800;
  padding: 0 0 6px 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  color: #40196d;
}
header .col2 .nav .hon .pap .cont {
  position: absolute;
  top: 21px;
  display: none;
  padding: 15px;
  margin-left: 0;
  width: 150px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 25px;
}
header .col2 .nav .hon .pap .cont .marg {
  padding: 5px;
  margin-bottom: 10px;
}
header .col2 .nav .hon .pap .cont .marg a {
  color: black;
  display: block;
  font-weight: normal;
  display: flex;
  align-items: center;
}
header .col2 .nav .hon .pap .cont .marg a img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
header .col2 .nav .hon .pap:hover .cont {
  display: block;
}
header .col2 .nav .hon .pap img {
  width: 10px;
  height: 7px;
  margin-left: 5px;
  margin-top: 4px;
}
header .signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}
header .signin a {
  display: block;
  margin: 0 20px;
}

.art {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  margin: 0 auto;
}
.art .right {
  width: 50%;
}
.art .right img {
  width: 93%;
}
.art .left {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 50%;
}
.art .left h1 {
  font-weight: 900;
  font-size: 43px;
  color: #40196d;
  margin: 9px 0;
  line-height: 50px;
  width: 77%;
}
.art .left .we {
  width: 75%;
  line-height: 25px;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}
.art .left .lince {
  margin: 10px 0;
}
.art .left .lince p {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  margin-bottom: 40px;
}
.art .left .lince p img {
  width: 50px;
  margin: 0 5px;
}
.art .left .lince p img:first-child {
  width: 25px;
}

.container {
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 25px;
  height: auto;
  margin: 20vh auto;
}
.container img {
  margin: 20px 0;
}

.apt {
  padding: 0 30px 30px;
  height: auto;
  width: auto;
  color: #40196d;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 0 5px 4px hsla(270deg, 50%, 88%, 0.281);
  font-size: 14px;
}

.first {
  grid-area: 1/1/4/5;
}

.second {
  grid-area: 1/5/4/9;
}

.third {
  grid-area: 1/9/4/13;
}

.fourth {
  grid-area: 4/3/7/7;
}

.fifth {
  grid-area: 4/7/7/11;
}

.zero {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 20px 0;
}
.zero .leftie {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.zero .leftie .top {
  width: 300px;
  color: #40196d;
  font-weight: 900;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
.zero .leftie .top .we-do {
  margin-top: 5px;
}
.zero .leftie .middle {
  margin: 30px 0;
  width: 440px;
  line-height: 23px;
}
.zero .leftie .bottom {
  color: #40196d;
  margin: 30px 0 0;
}
.zero .leftie .bottom a {
  text-decoration: underline;
}

.enjoy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: 100vh;
}
.enjoy .right {
  width: 420px;
  margin-left: 100px;
}
.enjoy .right .top {
  color: #40196d;
  font-size: 30px;
  font-weight: 900;
  width: 350px;
  margin: 20px 0;
}
.enjoy .right .link {
  margin-top: 40px;
  display: block;
  font-weight: 400;
  color: #40196d;
}
.enjoy .right .link a {
  text-decoration: underline;
}
.enjoy:nth-of-type(odd) {
  flex-direction: row-reverse;
}
.enjoy:nth-of-type(odd) .right {
  margin-left: 0;
  width: 400px;
}
.enjoy:nth-of-type(odd) .right .top {
  width: inherit;
}

.dont {
  height: 70vh;
  width: 100%;
}
.dont .word {
  color: #40196d;
  font-size: 32px;
  font-weight: 900;
  margin: 10px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.dont marquee {
  margin-top: 50px;
  right: 0;
  width: auto;
  overflow: auto;
}
.dont marquee img {
  width: 300px;
  margin: 20px;
}

.newspartners {
  height: 100vh;
}
.newspartners .news {
  width: 90vw;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newspartners .news a img {
  filter: grayscale(1);
  width: 100px;
}
.newspartners .news a img:hover {
  filter: none;
}
.newspartners .news a:first-child img {
  width: 90px;
}
.newspartners .news a .big {
  width: 140px;
}
.newspartners .news a .small {
  width: 70px;
}
.newspartners .partners {
  height: 50vh;
  background-color: #fbfbfb;
  display: flex;
  width: 100%;
  margin: 30px auto;
  display: flex;
  padding-top: 70px;
  flex-direction: column;
}
.newspartners .partners .ourpartner {
  font-size: 30px;
  color: #40196d;
  font-weight: 800;
  margin: 0 auto;
}
.newspartners .partners .partner {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.newspartners .partners .partner img {
  width: 150px;
  cursor: pointer;
}
.newspartners .partners .partner img:hover {
  filter: grayscale(1);
}
.newspartners .partners .partner img:hover:first-child {
  opacity: 0.6;
}
.newspartners .partners .partner .entre {
  width: 250px;
}
.newspartners .partners .partner .sbi {
  width: 130px;
}
.newspartners .partners .partner .target, .newspartners .partners .partner .visa {
  width: 100px;
}

.freedom {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}
.freedom .choose {
  font-size: 30px;
  color: #40196d;
  font-weight: 800;
  margin: 0 auto;
  width: auto;
}
.freedom .freed {
  width: 80vw;
  margin: 0 auto;
  border: #ededef 1px solid;
  height: 100vh;
  margin-top: 50px;
  border-radius: 9px;
  box-shadow: 5px 5px 10px #ededef;
}
.freedom .first {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  padding: 34px 0;
  justify-content: space-between;
  border-bottom: 1px solid #ededef;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
}
.freedom .first .row {
  width: 33.33%;
  font-size: 20px;
  color: #40196d;
  font-weight: 900;
}
.freedom .first .row img {
  width: 30%;
}
.freedom .rows {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #ededef;
}
.freedom .rows .in-row {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.freedom .rows .in-row .col {
  width: 33.33%;
  font-size: 13px;
  color: rgb(0, 0, 0);
}
.freedom .rows .in-row .trans {
  font-weight: 600;
}/*# sourceMappingURL=kuda.css.map */